In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json("contacts.json")

In [55]:
df.head(5)

   Id               Email         Phone  Contacts                    OrderId
0   0      gkzAbIy@qq.com                       1
1   1                      329442681752         4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                        9125983679         0
3   3  mdllpYmE@gmail.com                       0  bHquEnCbbsGLqllwryxPsNOxa
4   4                         300364407         2

In [47]:
subset = df[df["Id"] < 100000]
subset2 = subset.copy()

In [54]:
print(subset[subset["OrderId"]=="vDDJJcxfLtSfkooPhbYnJdxov"])

        Id                 Email         Phone  Contacts  \
1        1                        329442681752         4
2458  2458  ULziZaVD@hotmail.com     069988936         1

                        OrderId
1     vDDJJcxfLtSfkooPhbYnJdxov
2458  vDDJJcxfLtSfkooPhbYnJdxov